html, body
	{
        width: 100%;
		height: 100%;
        
	}
	
body
	{
        width: 100%;
        
		padding: 0px;
        margin: 0px;
        
		background-image:url(../images/font/lama.jpg);
        background-attachment: fixed;
	}
#container
    {   
        margin: auto 0;
        width: 1080px;
    }
	
#header_background
    {
        top: 0px;
        width: 100%;
        background: #6E6655;
        border-bottom-right-radius: 70px 14px;
        border-bottom-left-radius:  70px 14px;
    }
#header
    {
        margin: auto;
        width: 1380px;
        height: 100px;
    }

#header #titre
    {
        float: left;
    }

#header #menu ul li
    {
        margin: 1.45rem;
        float: left;
        text-decoration:none; 
    }


.clear { clear: both;}

.inscription {
        margin-left: 40%;
        margin-top: 0%;
        margin-bottom: 15%;
        width: 20%;
        
        
        background-color: white;
       
        border: solid 1px gray;
        border-radius: 10px;
}

.profil {
    margin-left: 28%;
    margin-top: 10%;
    margin-bottom: 10%
}

